<h2>Projetcs on github</h2>

<p>
   You may find me on [github](https://github.com/mklabs).
</p>

<section class="gitub-projects">
  <h3><a href="/nabe">nabe</a></h3>
  <p><a href="https://github.com/creationix/wheat">Wheat-like</a> blog engine. Most inspiration comes from Wheat. Built right on top of <a href="https://github.com/senchalabs/connect">Connect</a>, it can use git to provide some neat stuff like search (git grep) and access to post revisions. Also have a tiny admin backend where one could edit/add post (a save is then a git commit, with its commit message).</p>
  
  <h4><a href="/backnode">backnode</a></h4>
  <p>Latest crazy experiments. The goal is to let me use most of the fantastic <a href="http://documentcloud.github.com/backbone/">Backbone library</a> on the server-side. There are already several really good tutorials on this, namely to share Backbone.Models. This experiment is designed and implemented as a connect middleware and allow one to use Backbone.Router to handle incoming request, and Backbone.Views to drive the output of a template file.</p>
  
</section>