---
layout: layout
---

<div class="post">

  <header>
    <div class="container">
      <h1><a href="{{site.baseurl}}">{{site.title}}</a></h1>
      <h2>{{page.title}}</h2>
      <span class="date">{{moment page.time "D MMM YYYY"}}</span>
      <span class="date date-hidden right" data-format="from">{{page.time}}</span>
    </div>
  </header>

  <div role="main" class="markdown container">
    {{{ content }}}

    <p class="twitter-share">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="mklabs" data-lang="fr">Tweeter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>

    <div class="gh-issues">
      <h3>Commentaire?</h3>

      <p>Une remarque, un retour ou à peu près n'importe quoi relatif à
      cet article ? Ca se passe désormais <a
        href="https://github.com/mklabs/blog.mklog.fr/issues/new">ici</a>,
      les commentaires passent maintenant par GitHub et sont gérés via bug
      tracker ☺.</p>

      <div id="gh-comments">

        <span class="spinner"></span>

        <script type="text/template" id="tmpl-issues">
          <p class="comment-count"><%= num %></p>
          <ul>
            <% _.each(issues, function(issue) { %>
            <li class="comment-first">
              <span class="avatar">
                <img src="<%= issue.issue.user.avatar_url %>" />
                <p class="author"><a href="https://github.com/<%= issue.issue.user.login %>">@<%= issue.issue.user.login %></a></p>
              </span>
              <div class="comment-body"><%= ghm(issue.issue.body, 'mklabs/blog.mklog.fr') %></div>
            </li>

            <li class="gh-issues-thread">
              <ul>
              <% _.each(issue.comments, function(comment) { %>
                <li>
                  <span class="avatar">
                    <img src="<%= comment.user.avatar_url %>" />
                    <p class="author"><a href="https://github.com/<%= comment.user.login %>">@<%= comment.user.login %></a></p>
                  </span>
                  <div class="comment-body"><%= ghm(comment.body, 'mklabs/blog.mklog.fr') %></div>
                </li>
              <% }); %>
              </ul>
            </li>
            <% }); %>
          </ul>
        </script>
      </div>
    </div>
  </div>

</div>
