<div class="page nabe-search-results">
  <header><h2>Archives</h2></header>
  
  <div class="actions button-container" style="text-align: center;">
    <div class="button-group minor-group">
      {{each(i, year) years}}
        <a href="/archives/${year}" class="button pill">${year}</a>
      {{/each}}
    </div>
  </div>
  
  <ul>
  {{each(index, article) articles}}
    <li>
      <a href="/article/${article.name}">${article.title}</a>
      <span class="date">${article.date}</span>
    </li>
  {{/each}}    
  </ul>

</div>