<header>
  <h1>${config.description}</h1>
</header>

{{each(index, article) articles}}
  
    
  <div class="actions button-container" style="float: right;">
    <div class="button-group minor-group">
      {{each(index, category) article.categories}}
        <a href="/tag/${category}" class="button">#${category}</a>
      {{/each}}
    </div>
  </div>
  
  <div class="post">
    <h2 class="entry-title"><a href="/article/${article.name}">${article.title}</a></h2>

    <div class="entry-content">
      {{html article.markdown}}      
    </div>
    
    <span class="date">${article.date}</span>
    
  </div>
{{/each}}

